 #logo{
    width: 27px;
     height: 19px;
    color:teal;
  }
 
 nav{
    font-family: 'Urbanist', sans-serif;
    color:#2e518b;
    font-size: 20px;
    text-decoration: none;
 }
 
 nav ul{
     list-style-type: none;
     text-align: center;
     text-decoration: none;
  }
 
  nav li{
     display: inline;
     text-align: center;
     margin: 1px 20px 1px 1px;
     padding: 14px 16px;
     text-decoration: none;
  }
 
  
  nav li a {
     text-decoration: none;
  }
 
 
  nav li a:hover{
     background-color:aliceblue;
     color:cadetblue;
     text-decoration: none;
  }
 
 .propiedades{
    margin: auto;
    padding: 10px;
    display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: row;
     flex-direction: row;
    text-align:justify;
    width:60%;
    font-family: 'Urbanist', sans-serif;
    color: darkblue;
 }
 
 .propiedades div {
    -webkit-flex: auto;
     flex: auto;
    margin: 1%;
 }
 
 .apartamentos{
   float: left;
   width: 7rem; 
 }
 
 .fincas{
    float:center;
    width: 7rem;
 }
 
 .casas{
    float:right;
    width: 7rem;
 }
 
  
 .listaciudad a {
    text-decoration: none;
    text-transform: none;
 }
 
 .listaciudad a:hover {
    color:teal;
    text-decoration: none;
    text-transform: none;
 }
 
 .ciudad{
    font-size: 14px;
 }
 
 @media screen and (max-width: 600px) {
    .propiedades{
      width: 100%;
    }
  }
 
  .responsive {
    max-width: 100%;
    height: auto;
  }
 
  .listaciudad{
     text-decoration: none;
  }
 
  footer {
    border-radius: 3px;
    margin: auto;
    padding:1%;
    width: 60%;
    color:black;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-size: 0.75rem;
  }
 
 
  button {
    font-family: 'Urbanist', sans-serif;
    font-size: 0.7rem;
    border: 1px solid #2e518b;
    padding: 10px;
    background-color: #2e518b;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px;
    }

   
   .propi{
      width:60%;
      margin: auto;
      font-family: 'Urbanist', sans-serif;
      color: darkblue;
   }

   .boxpropiedad{
      display:flex;
      align-items:flex-end;
      margin-bottom: 3%;
   }

   .boxpropiedad img{
      display:flex;
   }

   .agentes{
    font-family: 'Urbanist', sans-serif;
    color:navy;
    width:60%;
    margin: auto;
    padding: 10px;
    text-align:justify;
 }

 .agentes img{
    width:auto;
}

.banage{
   position: relative;
   width: auto;
   height: auto;  
}

.txtban {
   position: absolute;
   top: 5px;
   left: 20px;
   color:white;
   font-size:20px;
   
   font-stretch: 10px;
   text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
 }

.card_agente{
    display:flex;
    margin-bottom: 2%;
}

.tarjeta{
    padding-left: 3%;
}