body {
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    
}
#logo{
    width: 27px;
     height: 19px;
    color:teal;
  }
 
 nav ul{
     list-style-type: none;
     text-align: center;
     font-family: 'Urbanist', sans-serif;
     font-weight: 450;
     text-decoration: none;
  }
 
  nav li{
     display: inline;
     text-align: center;
     margin: 1px 20px 1px 1px;
     padding: 14px 16px;
     text-decoration: none;
  }
 
  
  nav li a {
     color:dimgray;
     text-decoration: none;
  }
 
 
  nav li a:hover{
     background-color:transparent;
     color:cadetblue;
     text-decoration: none;
  }
*{
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.ventana{
    background:purple;
    width: 41%;
    margin-top:27px;
    padding: 33px;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size:18px;
    min-width: 250px;
    border-radius: 10px;
    position: absolute;
    left: 31%;
    height:86.9%;
    display: none;




}
.Formulario{
    background:#fff ;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: royalblue;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 90.1%;
    padding: 10px; 
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 40px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:royalblue;
    padding: 15px 20px;
    border-radius: 1000px;
    cursor: pointer;
}

.button:hover{
    background: navy;
}

p{
    text-align: center;
}
.Link{
    text-decoration: none;
    color:royalblue;
    font-weight: 600;
}
.Link:hover{
    color: navy ;
}
@media(min-width:768px)
{
    .Formulario{margin: auto;
        width: 500px;
        margin-top: 50px;
        border-radius: 2%;
    }
}