body{
   font-family: 'Urbanist', sans-serif;
   color:midnightblue;
}
#brand{
   font-family: 'MuseoModerno', cursive;
   font-size: 1.5rem;
   color:lightcoral;
   text-shadow: lightpink;
   height: 5rem;
}
nav{
   font-size: 1.2rem;
   text-align: center;
   color:#2ecc71;
   height: 5rem;
}
nav img{
   align-items:baseline;
}
nav li{
   display: inline;
   margin:auto;
   padding:0.75rem;
}
nav li a {
   text-decoration: none;
   color:#2ecc71;
}
nav li a:hover{
   color:lightcoral;
}
.mainbox{
   margin: auto;
   padding: 10px;
   width:60%;
}
.propiedades{
   margin: auto;
   padding: 1%;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   text-align:justify;
   width:60%;
}
.propiedades div {
   -webkit-flex: auto;
   flex: auto;
   margin: 1%;
}
.apartamentos{
   float: left;
   width: 7rem;
}
.fincas{
   float:center;
   width: 7rem;
}
.casas{
   float:right;
   width: 7rem;
}
.ciudad{
<<<<<<< HEAD
   font-size: 0.95rem;
=======
   font-size: 0.7rem;
>>>>>>> 9c8877c54d67c58c25587643ff424bbc141c5e79
}
.listaciudad a {
   text-decoration: none;
   text-transform: none;
<<<<<<< HEAD
   color:midnightblue;
}
.listaciudad a:hover {
   color:#2ecc71;
=======
}
.listaciudad a:hover {
   color:teal;
>>>>>>> 9c8877c54d67c58c25587643ff424bbc141c5e79
   text-decoration: none;
   text-transform: none;
}
.responsive {
   max-width: 100%;
   height: auto;
}
.listaciudad{
   text-decoration: none;
   list-style:none;
}
footer {
   border-radius: 3px;
   margin:auto;
   padding:1%;
   width: 60%;
   color:black;
   text-align: center;
   font-size: 0.75rem;
<<<<<<< HEAD
   color:midnightblue;
}
input{
   background-color: #fbfbfb;
   width: 25rem;
=======
}
input{
   background-color: #fbfbfb;
   width: 30rem;
>>>>>>> 9c8877c54d67c58c25587643ff424bbc141c5e79
   height:2rem;
   padding: 1rem;
   margin:1rem;
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
   border-color:lightcoral;
}
textarea{
   background-color:lightgray;
   width: 30rem;
   height: 1rem;
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
   border-color:lightcoral;
}
label{
   display: block;
   float: center;
}
::-webkit-input-placeholder {
   color: #a8a8a8;
}
::-webkit-textarea-placeholder {
   color: #a8a8a8;
}
.formulario input:focus{
   outline:0;
   border: 1px solid #97d848;
}
.formulario textarea:focus{
   outline:0;
   border: 1px solid #97d848;
}
.propi{
   width:60%;
   margin: auto;
   color: darkblue;
}
<<<<<<< HEAD
.seccionpropiedad{
=======
.boxpropiedad{
>>>>>>> 9c8877c54d67c58c25587643ff424bbc141c5e79
   display:flex;
   align-items:flex-end;
   margin-bottom: 3%;
}
<<<<<<< HEAD
.seccionpropiedad img{
=======
.boxpropiedad img{
>>>>>>> 9c8877c54d67c58c25587643ff424bbc141c5e79
   display:flex;
}
.agentes{
   width:60%;
   margin: auto;
   padding:1rem;
}
.imagenbanner{
   width:100%;
   height: auto;
   margin: auto;
   position: relative;
}
.txbanner{
   top:10rem;
   left:30rem;
   color:lightcoral;
   font-size:1rem;
   position: absolute;
}
.cardagente{
   display:flex;
   margin-bottom: 2%;
   width:min-content;
}
.fotoagente{
   width:100%;
}
.tarjeta{
   padding-left: 3%;
}
button{
   font-family: 'Urbanist', sans-serif;
   border: none;
<<<<<<< HEAD
   height: 2.5rem;
   width: 5rem;
   font-size: 0.8rem;
   cursor: pointer;
   outline: none;
=======
   font-size: 0.8rem;
   color: inherit;
   background: none;
   cursor: pointer;
   padding: 20px 70px;
   display: inline-block;
   margin: 15px 30px;
   text-transform: uppercase;
   letter-spacing: 1px;
   outline: none;
   position: relative;
>>>>>>> 9c8877c54d67c58c25587643ff424bbc141c5e79
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}
button:after {
<<<<<<< HEAD
=======
   content: '';
   position: absolute;
>>>>>>> 9c8877c54d67c58c25587643ff424bbc141c5e79
   z-index: -1;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}
.btn-2 {
   background: #2ecc71;
   color: #fff;
<<<<<<< HEAD
=======
   text-decoration: none;
   text-transform: none;
>>>>>>> 9c8877c54d67c58c25587643ff424bbc141c5e79
}
.btn-2:hover {
   background:lightgreen;
}
.btn-2:active {
   background: #27ae60;
<<<<<<< HEAD
}
.btn-2:before {
   position: absolute;
   height:auto;
   left: 0;
   top: 0;
=======
   top: 2px;
}
.btn-2:before {
   position: absolute;
   height: 100%;
   left: 0;
   top: 0;
   font-size: 10rem;
>>>>>>> 9c8877c54d67c58c25587643ff424bbc141c5e79
   width: 2rem;
}
@media screen and (max-width: 991px) {
   .propiedades,.mainbox,.agentes{
       width:67%;
  }
}
@media screen and (max-width: 767px) {
   .propiedades,.mainbox,.agentes{
       width:100%;
  }
}
@media screen and (max-width: 479px) {
   .propiedades,.mainbox,.agentes{
       width:50%;
       margin:0;
       border:none;
  }
}
